<!--
slider
部分程式碼,html的部分

-->
<div id="slider" class="slider">
    <div class="mid">
        <input type="radio" name="radio-btn" id="block-1" >
        <input type="radio" name="radio-btn" id="block-2" >
        <input type="radio" name="radio-btn" id="block-3" >
        <input type="radio" name="radio-btn" id="block-4" >
        <input type="radio" name="radio-btn" id="block-5" >
        <div class="mid-container">
        </div>
    </div>
</div>
  

<div  class="sliderblock" >
  	
</div>


<div class="nav-dots">
<label class="nav-dot" for="block-1"></label>
<label class="nav-dot" for="block-2"></label>
<label class="nav-dot" for="block-3"></label>
<label class="nav-dot" for="block-4"></label>
<label class="nav-dot" for="block-5"></label>    
</div>


<!--sliderend-->